POSTGRES_PASSWORD=postgres_password
PGDATA=/var/lib/postgresql/data/pgdata

RABBITMQ_SERVER=localhost:5672
RABBITMQ_DEFAULT_PASS=taiga
RABBITMQ_DEFAULT_USER=taiga
RABBITMQ_DEFAULT_VHOST=taiga

REDIS_SERVER=localhost:6379

DEBUG=False

DJANGO_DB_NAME=taiga
DJANGO_DB_USER=taiga
DJANGO_DB_PASSWORD=taiga
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432
DJANGO_DB_TIMEOUT=30
DJANGO_SECRET_KEY=secret
DJANGO_ALLOWED_HOSTS=*

TAIGA_HOSTNAME=localhost:8080
TAIGA_PUBLIC_REGISTER_ENABLED=False
TAIGA_SSL=False
TAIGA_GDPR_URL=
TAIGA_SUPPORT_URL=
TAIGA_PRIVACY_POLICY_URL=
TAIGA_TOS_URL=
TAIGA_DEFAULT_LANGUAGE=en
TAIGA_DEFAULT_THEME=taiga
TAIGA_THEMES=taiga,taiga-legacy,material-design,high-contrast
TAIGA_GRAVATAR=False
TAIGA_FEEDBACK_ENABLED=False
TAIGA_FEEDBACK_EMAIL=
TAIGA_MAX_UPLOAD_FILE_SIZE=
TAIGA_CELERY_ENABLED=True
TAIGA_CELERY_PROCESSES=4

TAIGA_EVENTS_HOST=localhost
TAIGA_EVENTS_PORT=8888

LDAP_URL=ldap://localhost:389
LDAP_BASEDN=dc=example,dc=com
LDAP_ADMIN_GROUP=cn=taiga-admin,ou=groups
LDAP_BINDDN=
LDAP_BINDPASSWORD=

LDAP_GROUP_BASE=ou=customers,ou=groups
LDAP_GROUP_MEMBER_ATTRIBUTE=member
LDAP_GROUP_NAME_ATTRIBUTE=cn

LDAP_USER_BASE=ou=users
LDAP_USER_GROUP=cn=taiga,ou=apps,ou=groups
LDAP_USER_OBJECTCLASS=inetOrgPerson
LDAP_USER_USERNAME_ATTRIBUTE=uid
LDAP_USER_EMAIL_ATTRIBUTE=mail
LDAP_USER_FULLNAME_ATTRIBUTE=cn
LDAP_USER_PHOTO_ATTRIBUTE=jpegPhoto

LDAP_SYNC_INTERVAL=60

OPENID_USER_URL=https://keycloak/auth/realms/master/protocol/openid-connect/userinfo
OPENID_TOKEN_URL=https://keycloak/auth/realms/master/protocol/openid-connect/token
OPENID_AUTH_URL=https://keycloak/auth/realms/master/protocol/openid-connect/auth
OPENID_CLIENT_ID=taig
OPENID_CLIENT_SECRET=very-secret
OPENID_LOGIN_NAME=SSO Login
